<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    <header class="nav__bar">
        <a href="/">
            <img src='app/static/media/sunbird-favicon.jpg'>
        </a>
    </header>
    <div class="translate_card">
        <div class="translate_function">
            <button class="translate_button">
                Translate text
            </button>
            <button class="translate_button">
                Translate file
            </button>
        </div>
        <div class="translate_text">
            <textarea class="input_text">type text here</textarea>
            <textarea class="input_text">Response</textarea>
        </div>
    </div>
</body>

</html>